<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mint to be</title>
    <link href='https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles' rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="/style.css" />
</head>
 
</div>
    {{>header}}
 </div>

<body>
  {{{body}}}
</body>

</div>
    {{>footer}}
 </div>
</html>






