<ul class="cards">
  {{!-- {{#each herbs}} --}}
  <li class="card">
  <img class="img" src="images/{{name}}.jpg" alt="{{name}}"><br>
    <div class="herbs">
      <span class="title">{{name}}</span>
      <p class="data">Height: {{height}}</p>
      <br>

    </div>
  </li>
  <br>
  {{!-- {{/each}} --}}
</ul>





<audio src=""><source src="/sounds/mixkit-fast-rocket-whoosh-1714.wav" type=""> </source></audio>

<script>
var audio = document.getElementsByTagName('audio')[0];
audio.play()
</script>

