* {
 color: white;
 font-family: 'Fuzzy Bubbles';
 font-weight: bold;
 font-size: 1.05em;

}



html {
  min-height: 100%;

  /* background-color: rgba(117, 2, 2, 0.808); */


  background-image: linear-gradient(
    to bottom,
    rgba(36, 78, 46, 0.531),
    rgba(0, 0, 0, 0.975)
  ), url('https://images.unsplash.com/photo-1532092367580-3bd5bc78dd9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');


  
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
 
}

body { 
  /* width: 100vw; */

  justify-content: center;
  align-content: center;
  align-content: center;
}

.card {
  display: flex;
  align-content: center;
}

.img {
  border-radius: 25%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.herbs {
  /* display: flex;
  flex-direction: row; */
  text-align: left;
  /* align-content: center; */
  /* align-items: center; */
  padding-left: 3em;
  padding-top: 2em;
  
    text-align: center;
}

li {
  justify-content: center;
  align-content: center;
  align-content: center;
}

body > ul > li > div > a{
  color: rgb(172, 152, 152);
  text-decoration: none;
}
body > ul > li > div > a:hover{

  color: rgb(49, 0, 105);
  text-decoration: none;
}

body > ul > li:hover {
  background-color: rgba(11, 114, 25, 0.42);
}

footer{
  text-align: center;
}

header{
  padding-left: 50px;
  font-size: 35px;
}

body > a {
text-decoration: none;
}

body > a:hover {
color: black;
}