* {
 color: rgb(233, 233, 233);
 font-family: 'Fuzzy Bubbles';
 font-weight: bold;
 font-size: 1.05em;
 
}



html {
  min-height: 100%;
  
  /* background-color: rgba(117, 2, 2, 0.808); */
  
  
  background-image: linear-gradient(
    to bottom,
    rgba(36, 78, 46, 0.531),
    rgba(0, 0, 0, 0.975)
    ), url('https://images.unsplash.com/photo-1532092367580-3bd5bc78dd9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    
    
    
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center center;
    
  }
  
  body { 
    /* width: 100vw; */
    
    justify-content: center;
    align-content: center;
    align-content: center;
  }
  
  .card {
    display: flex;
    align-content: center;
    text-shadow: 2px 2px black;
  }
  
  .img {
  border-radius: 25%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.herbs {
  /* display: flex;
  flex-direction: row; */
  text-align: left;
  /* align-content: center; */
  /* align-items: center; */
  padding-left: 3em;
  
    text-align: center;
}

li {
  justify-content: center;
  align-content: center;
  align-content: center;
}

body > ul > li > div > a{
  color: rgb(172, 152, 152);
  text-decoration: none;
}
body > ul > li > div > a:hover{

  color: rgb(49, 0, 105);
  text-decoration: none;
}

body > ul > li:hover {
  background-color: rgba(11, 114, 25, 0.42);
}

#name{
  color: black !important;
}

#height{
  color: black !important;

}

body > ul > li > div > form > button{
  color: rgb(49, 0, 105);
  background-color: rgb(124, 121, 121);
}



footer{
  text-align: center;
}

body > footer p{
  color: rgb(85, 85, 85);
}

header{
  padding-left: 50px;
  font-size: 35px;
}

body > a {
text-decoration: none;
}

body > a:hover {
color: black;
}

/* Add button */

.add {
  text-align: center;
}

.add-button {
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(23, 80, 32);
  border-radius: 15px;
  border-style: solid;
  border-color: black;
}

.add-button:hover {
  padding: 5px;
  color: rgb(189, 188, 190);
  background-color: rgb(5, 54, 13);
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

/* add page */

.add-form {
  text-align: center;
}

#add-name, #add-germination-id, #add-height, .add-submit, #watering, #light, #germinationdates {
color: black;
}

#myFile {
  position: relative;
  left: 130px;
}

header {
  text-align: left;
  padding: 50px 20px 20px 50px;
}

body > ul > li > div > a {

  color: rgb(133, 133, 172);
}


#add-name{
  color: black;
}
#add-germination-id{
  color: black;
}
#add-height{
  color: black;
}
#germinationdates{
  color: black;
}
#watering{
  color: black;
}

body > form option{
  color: rgba(0, 0, 0, 0.548);
}
